version: '3'

services:

  postgresdb:
    image: postgres
    container_name: ${POSTGRES_CONTAINER_NAME}
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASS}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:5432

  mongodb:
    image: mongo
    container_name: ${MONGODB_CONTAINER_NAME}
    ports:
      - ${MONGODB_PORT}:27017

  redisdb:
    image: redis
    container_name: ${REDIS_CONTAINER_NAME}
    ports:
      - ${REDIS_CONTAINER_NAME}:6379